$dark: #181818;
$white: #FFF;
$orange: #F17E4E;
$purple: #6B53F6;
$gray: #E0E0E0;
$light-orange: #FFF2EC;
$border: #f2f2f2;


$background-gradient: linear-gradient(90deg, #6B53F6 33.96%, #3BA7F8 100%);


